* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --transition: all 0.3s linear;
}
.main {
    height: 30vh;
}
.main h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5.4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}
.epi {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}
.underline {
    background: rgb(161, 1, 1);
    width: 80vw;
    height: 1rem;
    margin: auto;
}
.secondary {
    margin: auto;
    width: 80vw;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
}
.ping-pong {
    max-height: 9rem;
    border-radius: 2rem;
    margin-top: -3rem;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.171)) ,url(pingpong.jpg) center/cover fixed no-repeat;
}
.ping-pong h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1.9rem;
}
.btn {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: black;
    text-decoration: none;
    background: rgb(243, 209, 98);
    padding: 1rem;
    cursor: pointer;
    transition: var(--transition);
}
.ep-btn {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: black;
    text-decoration: none;
    background: rgb(243, 209, 98);
    padding: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
} 
.btn:hover {
    color: white;
    background: transparent;
    border: solid white 0.1rem;
}
.ep-btn:hover {
    color: white;
    background: transparent;
    border: solid white 0.1rem;
}
.ep {
    max-height: 5rem;
    height: 100%;
    margin: 2rem;
    border-radius: 2rem;
    background:linear-gradient(rgba(0, 0, 0, 0.171) ,rgba(0, 0, 0, 0.171)) ,url(./images/pingpong.jpg) center/cover no-repeat;
}
.episodes {
    margin-top: -6rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
p {
    font-size: 1.5rem;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 1.25rem;
}
.ep-title {
    text-align: center;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}
video {
    margin-left: 10%;
    width: 80%;
}
