* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --transition: all 0.3s linear;
}
.main {
    height: 30vh;
}
.main h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
}
.underline {
    background: rgb(161, 1, 1);
    width: 80vw;
    height: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.secondary {
    margin-top: 5rem;
    margin-left: 7.5rem;
    width: 80vw;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
}
.ping-pong {
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.171)) ,url(./images/pingpong.jpg) center/cover fixed no-repeat;
}
.ping-pong h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.btn {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: black;
    text-decoration: none;
    background: rgb(243, 209, 98);
    padding: 1rem;
    cursor: pointer;
    transition: var(--transition);
}
.btn:hover {
    color: white;
    background: transparent;
    border: solid white 0.1rem;
}
.ep {
    height: 100%;
    margin: 2rem;
    background:linear-gradient(rgba(0, 0, 0, 0.171) ,rgba(0, 0, 0, 0.171)) ,url(./images/pingpong.jpg) center/cover no-repeat;
}
.episodes {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
}
p {
    font-size: 1.5rem;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.episode-container {
    margin-left: 23rem;
    width: 42.4vw;
    height: 50vh;
}